         body {
             background-color: rgb(190, 218, 232);
         }
         
         #titulo {
             text-align: center;
             color: rgb(72, 72, 241);
         }
         
         * {
             margin: 0%;
             padding: 0%;
             box-sizing: border-box;
         }
         
         .menu {
             background: rgb(114, 114, 227);
         }
         
         .navbar {
             color: rgb(3, 16, 28);
             width: 30%;
             margin: 0 auto;
         }
         
         .navbar ul {
             display: flex;
             gap: 40px;
             list-style: none;
         }
         
         .container {
             margin: auto;
             width: 30%;
             color: cornflowerblue;
         }
         
         .img {
             width: 400px;
         }
         /* Contato Html */
         
         #contato {
             text-align: center;
             color: rgb(84, 84, 240);
         }
         
         .formulario-campo {
             display: flex;
             flex: 1;
             gap: 16px;
             justify-content: space-between;
             margin-bottom: 10px;
             align-items: center;
         }
         
         .formulario-campo label {
             font-family: initial;
         }
         /* html 2 */
         
         #especial {
             text-align: center;
             color: rgb(72, 72, 241);
         }
         
         .foto {
             width: 400px;
         }
         
         .segundo.html {
             margin: 0 auto;
             width: 30%;
             color: cornflowerblue;
         }
         
         #config {
             width: 300px;
             margin: 0 auto;
         }
         
         footer {
             text-align: center;
             color: cyan;
         }